 body {
        width: 80%;
        margin: 0% auto;
        background-color: #bc7512;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        padding: 20%;
    }
    .mypinkcat {
        color: pink;
        font-size: 50px;
        background-color: black;
    }
    ul {
        background-color: #333;
        color: white;
        padding: 10px;
    }
    p {
        color: rgb(31, 47, 10);
    }
    .white {
        color: rgb(255, 255, 255);
    }
    .main-content {
        width: 70%;
        float: left;
        padding: 10px;
        background-color: darkolivegreen;
    }
    h1, h2, h6 {
        color: #333;
    }
    h1 {
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
   